{% extends 'main/base.html' %}

{% block content %}

{% include 'main/nav.html' %}

<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input-box">
            <div class="input-field">
                <input type="text" name="name" placeholder="Full Name" required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="email" name="email" placeholder="Email Address" required>
                <span class="focus"></span>
            </div>
        </div>

        <div class="input-box">
            <div class="input-field">
                <input type="tel" name="phone" placeholder="Mobile Number" required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="text" name="subject" placeholder="Email Subject" required>
                <span class="focus"></span>
            </div>
        </div>

        <div class="textarea-field">
            <textarea name="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <span class="focus"></span>
        </div>

        <div class="btn-box">
            <button type="submit" class="btn">Submit</button>

        </div>

    </form>
</section>

{% endblock %}
